/* Add screen styles below */
.hero-section {
  background-color: #00704A;
  color: #FFFFFF;
  text-align: center;
  height: 100px;
}

h1 {
  transform: translate(0%, -50%);
  font-family: Gotham; 
}

h2 {
  font-family: Gotham;
}

.sidenav {
  height: 400px; 
  width: 150px;  
  position: sticky; 
  padding: 40px; 
  line-height: 48px;
  font-size: 24px;
  color: #black;
  font-family: gotham;
    }

.menu-container {
  padding: 20px;
    }

.card {
  height: 300px;
  font-family: gotham;
}

.card-img-top {
  max-width: 120px;
  height: 120px; 
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.card-body {
  text-align: center; 
}

.card-body .btn {
  margin-top: 10px; 
  font-size: 24px;
  font-family: gotham;
  background-color: #00704A;
  color: #ffffff; /* Add text color */
  border-color: #00704A;
  height: 50px;
  width: 200px;
}

.btn-primary:hover {
  background-color: #28a745;  
  border-color: #28a745; 
}
